@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --lightGrayishBlue: hsl(234, 14%, 74%);
  --GrayishBlue: hsl(233, 13%, 49%);
  --DarkGrayishBlue: hsl(232, 13%, 33%);
  --linearGradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --ffMontserrat: "Montserrat", sans-serif;
  --fwBold: 700;
  --fzMain: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.app {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--ffMontserrat);
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
span {
  font-weight: var(--fwBold);
}

p {
  font-size: var(--fzMain);
}
